# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0abc9065285fa7839e604015ae1a573f1c664f146e633e620a901abbd7c65534de93135f76ac2a8ba855733594f01fbd53ff9330f5f492be8a764668c14d1980

test:
  secret_key_base: 48c725f5084ec69aa9ebbfc23758ed451e6d7b9acb839b42599cf4c7551c3c09c5e0dd40c06ceb80853e36eeaef83729b0ef4495cca7e9ff1dd734c2c1764261

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
